.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 2.5em;

  gap: 5.625em;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: min(100%, 25em);

    gap: 1.75em;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5em;
    }

    .picture {
      position: relative;
      img {
        transform: translateX(-1em);
      }

      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .icon {
        position: absolute;
        animation: App-logo-spin infinite 20s linear;
      }
      .reactIcon {
        top: 0.75em;
        left: 0.75em;
        path {
          fill: var(--blue);
        }
      }
      .angularIcon {
        top: 4.5em;
        left: 0;
        path {
          fill: var(--error);
        }
      }
      .jsIcon {
        top: 5em;
        right: 0.5em;
        path {
          fill: yellow;
        }
      }
    }

    h1 {
      font-size: var(--fs-large);
      font-weight: var(--fw-bolder);
    }

    .summary {
      font-size: var(--fs-small);
      font-weight: var(--fw-light);

      padding-inline: 1em;

      span {
        color: var(--blue);
      }
    }

    @media (min-width: 1024px) {
      & {
        width: 100%;
        flex-direction: row-reverse;
        gap: 7em;

        justify-content: space-between;

        h1 {
          font-size: var(--fs-larger);
        }

        .summary {
          font-size: var(--fs-semi-medium);
          padding: 0;
        }
        .info {
          text-align: start;
          align-items: start;

          width: min(100%, 35em);
        }

        .picture {
          img {
            transform: none;
            width: 25em;
            margin-right: 2em;
          }
        }
      }
    }
  }
}
