.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 3.0625em;

  gap: 5.625em;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.75em;
  }

  img {
    width: 50%;
    animation: App-logo-spin infinite 20s linear;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  h1 {
    font-size: var(--fs-large);
    font-weight: var(--fw-bolder);
  }

  .info {
    font-size: var(--fs-small);
    font-weight: var(--fw-light);

    padding-inline: 1em;

    span {
      color: var(--blue);
    }
  }
}
