.grayBox {
  background-color: var(--gray);
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: center;
  min-width: 117px;

  font-size: var(--fs-smaller);
  font-weight: var((--fw-bold));

  color: black;
  background-color: var(--white);

  border: none;
  border-radius: 10px;

  padding: 1em;

  text-decoration: none;

  transition: transform 0.25s ease;

  &:hover,
  &:focus {
    transform: translateY(-0.25em) translateX(0.25em);
  }

  @media (min-width: 768px) {
    font-size: var(--fs-small);
    min-width: 130px;
    padding: 0.9375em 1.6875em;
  }
}
