.title {
  font-size: var(--fs-semi-medium);

  border-bottom: 2px solid var(--white);

  padding-bottom: 0.625em;
  margin-bottom: 4.875em;

  @media (min-width: 1024px) {
    font-size: var(--fs-large);
  }
}
