.container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  .logo {
    cursor: pointer;
  }

  .social {
    display: flex;
    gap: 2.5em;

    img {
      transition: transform 0.5s ease;
      &:hover,
      &:focus {
        transform: scale(1.5);
      }
    }
  }
}
