.container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  .logo {
    cursor: pointer;
  }

  .social {
    display: flex;
    gap: 2.5em;

    .icon {
      &:hover {
        path {
          fill: var(--blue);
        }
      }
    }
  }
}
