.line {
  position: relative;
  text-decoration: underline var(--blue);
  -webkit-text-decoration: underline var(--blue);

  // &::after {
  //   position: absolute;
  //   content: "";
  //   border: 3px solid var(--blue);
  //   background-color: var(--blue);

  //   height: 1px;
  //   width: 50%;

  //   left: 0.25em;
  //   bottom: -0.15em;

  //   transform: rotate(1deg);
  // }
}
