.project {
  display: flex;
  flex-direction: column;

  padding: 1.75em 0.625em;

  background-color: var(--dark-gray);
  border-radius: 10px;

  .imageContainer {
    display: flex;
    justify-content: center;

    padding-inline: 3em;

    background-color: var(--gray);
    border-radius: 10px;
    img {
      width: 20em;
    }

    @media (min-width: 768px) {
      & {
        padding: 0;
        background-color: transparent;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }

  .projectInfo {
    display: grid;
    gap: 0.625em;

    padding: 1.125em 0em 2.125em;

    p {
      font-size: var(--fs-medium);
      font-weight: var(--fw-regular);
    }
    span {
      font-size: var(--fs-small);
      font-weight: var(--fw-light);
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: space-evenly;
    }
    @media (min-width: 1024px) {
      margin-top: auto;
    }
  }
}
