.container {
  display: grid;
  width: 100%;
  gap: 2em;

  text-align: start;

  .list {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 3em 5em;

    padding-inline: 1em;

    list-style-image: url("../../../assets/circle.svg");

    li {
      font-size: var(--fs-medium);
      font-weight: var(--fw-regular);

      div {
        font-size: var(--fs-small);
        font-weight: var(--fw-light);
      }

      @media (min-width: 1024px) {
        font-size: var(--fs-large);

        div {
          font-size: var(--fs-semi-medium);
        }
      }
    }

    @media (min-width: 600px) {
      & {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  .line {
    margin: auto;
    width: 50%;
    height: 2px;
    background-color: var(--white);
  }
}
