.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  gap: 4.125em;

  img {
    padding-inline: 1em;
  }

  .email {
    font-size: var(--fs-medium);
    font-weight: var(--fw-regular);
  }

  .form {
    display: grid;
    width: min(95%, 25em);

    padding: 1em 1em 1.6875em 1em;

    border: 1px solid var(--white);
    border-radius: 10px;

    input,
    textarea {
      outline: none;
      box-shadow: none;

      border: 0;
      background-color: transparent;
      border-bottom: 1px solid white;

      padding-block: 1em 1em;

      font-size: var(--fs-small);
      font-weight: var(--fw-regular);
    }

    textarea {
      margin-bottom: 1.8125em;
      resize: none;
    }

    .button {
      margin: auto;
    }

    .error {
      visibility: hidden;

      margin-top: -1em;

      color: var(--white);
      font-size: var(--fs-small);
      font-weight: var(--fw-regular);

      transition: margin 0.5s ease, visibility 0.5s ease;
    }
    .errorLine {
      border-bottom: 1px solid var(--error);
    }
    .show {
      color: var(--error);
      visibility: visible;
      margin-top: 1.5em;
    }
  }

  .planet {
    display: grid;
    gap: 4.125em;
    text-align: center;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;

    .email {
      font-size: var(--fs-semi-medium);
    }

    .form {
      input,
      textarea {
        font-size: var(--fs-medium);
      }
    }
  }
}
