html {
  background-color: black;
}

.background {
  position: fixed;
  z-index: -1000;
}

.app {
  display: grid;
  gap: 4.875em;

  margin-inline: 0.625em;

  @media (min-width: 768px) {
    & {
      margin-inline: 3.125em;
    }
  }
}
